[submodule "external/luabind"]
	path = external/luabind
	url = https://github.com/wuhao5/luabind.git
[submodule "dependency"]
	path = dependency
	url = https://github.com/wuhao5/chaos3d-dependency.git
