language: cpp
script:
    - xcodebuild -project build/chaos3d.xcodeproj -target chaos3d_core_mac
    - xcodebuild -project build/chaos3d.xcodeproj -target chaos3d_core_ios
    - xcodebuild -project build/chaos3d.xcodeproj -target chaos3d
os:
    - osx
