language: objective-c
script:
  - xcodebuild -project build/chaos3d.xcodeproj -target chaos3d_core_mac
  - xcodebuild -project build/chaos3d.xcodeproj -target chaos3d_core_ios
  - xcodebuild -project build/chaos3d.xcodeproj -target chaos3d
os:
  - osx
before_deploy:
  - zip release.zip build/libchaos3d_core_ios.a build/libchaos3d.dylib build/libchaos3d_core_mac.dylib
deploy:
  provider: releases
  skip_cleanup: true
  file: release.zip
  on:
    repo: chaos3d/chaos3d
    tags: true
    all_branches: true
    api-key:
      secure: WGwNnuk/RtuptYEEkhuzfUZaMu6k7uSUSnj5a2jnqarB26E1Ry9E/+ZQPzoJKXd+22Qt9qZr5AWNrsFUHyNSTGdJLYTwz5Ksvx67RGtROiwlebQ9nrfaIkqFx9BjJZx8H5WvXpRFK8M4hTa5yMo17sdmw/9V1vlM6Xs/zYT7HMo=
