language: objective-c
before_script:
  - curl -L http://clang-analyzer.llvm.org/downloads/checker-276.tar.bz2 > checker.tar.bz2
  - tar -zxvf checker.tar.bz2
script:
  - xcodebuild -project build/chaos3d.xcodeproj -target chaos3d_core_mac
  - xcodebuild -project build/chaos3d.xcodeproj -target chaos3d_core_ios
  - xcodebuild -project build/chaos3d.xcodeproj -target chaos3d
after_script:
  - ./checker-276/scan-build xcodebuild -project build/chaos3d.xcodeproj -target chaos3d_core_ios analyze
  - ./checker-276/scan-build xcodebuild -project build/chaos3d.xcodeproj -target chaos3d analyze
os:
  - osx
before_deploy:
  - zip release.zip build/libchaos3d_core_ios.a build/libchaos3d.dylib build/libchaos3d_core_mac.dylib
deploy:
  provider: releases
  skip_cleanup: true
  file: release.zip
  api_key:
    secure: WGwNnuk/RtuptYEEkhuzfUZaMu6k7uSUSnj5a2jnqarB26E1Ry9E/+ZQPzoJKXd+22Qt9qZr5AWNrsFUHyNSTGdJLYTwz5Ksvx67RGtROiwlebQ9nrfaIkqFx9BjJZx8H5WvXpRFK8M4hTa5yMo17sdmw/9V1vlM6Xs/zYT7HMo=
  on:
    repo: chaos3d/chaos3d
    tags: true
    all_branches: true
